<!--     
<div class="formcontainer">
    <div class="formbody">
        <form style="width:100%;" [formGroup]="loginForm">
            <div class="header">Welcome</div>
                <div>
                    <input type="text" formControlName="logemail" placeholder="Username">
                </div>
                <div>
                    <input type="password" formControlName="logpassword"  placeholder="Password">
                </div>
            </div>
            <div class='sideButtons'>
                <button class="form-btn" (click)="login()">Sign In</button>
            <button class="form-btn-hollow" (click)="movetoregister()">Register</button>
        </div>
        </form>
    </div>

    <div>
          
    </div>
</div> -->

<div class="formcontainer">
<div class="login">
    <div class="login-triangle"></div>
        <h2 class="login-header"><b>Log In</b></h2> 
        <form class="login-container" [formGroup]="loginForm">
                <p><input type="text" formControlName="logemail" placeholder="Username"></p>
                <p><input type="password" formControlName="logpassword"  placeholder="Password"></p>
                <div class='sideButtons'>
                        <button class="myButton" (click)="login()">Log In</button>
                    <button class="myButton" (click)="movetoregister()">Register</button>
                </div>
        </form>
</div>
</div>
