.navbar{
    background-color:#0079F8;
    margin-bottom: 0px;
}
a.active {
    background-color: white;
    color: black;
    text-decoration: none;
  }
  .header-logo {
    height: 2em;
    margin: 8px 0 0 11px;
  }
  a:hover {
    text-decoration:none;
    color: black;
  }
  .navbar-header{
    color: white;
    top: 0.8em;
    cursor: pointer;
    display: inline-flex;
  }
  .navbar-nav
  {
      color: white;
  }
  a{
    color: whitesmoke;
  }