<router-outlet></router-outlet>
<form #signupForm="ngForm" (ngSubmit)="editCustomerDetails(signupForm, content)">
        <label for="firstName">First Name</label>
        <input type="text" name="firstName" id="firstName" ngModel>

        <label for="lastName">Last Name</label>
        <input type="text" name="lastName" id="lastName" ngModel>

        <label for="gender">Gender</label>
        <input type="radio" name="gender" value="male"> Male <br>
        <input type="radio" name="gender" value="female"> Female <br>

        <label for="email">Email</label>
        <input type="text" name="email" id="email" ngModel>

        <label for="address">Address</label>
        <input type="text" name="address" id="address" ngModel>

        <label for="city">City</label>
        <input type="text" name="city" id="city" ngModel>

        <label for="state">State</label>
        <input type="text" name="state" id="state" ngModel>
      
         <button type="submit">Sign Up</button> 
      </form>