.GridClass{
    width: 100%;
min-width: 100%;
display: flex;
flex-direction: row;
padding: 1em;
flex-wrap: wrap;
z-index: 2;
padding-top: 3em;
}

.ListClass{
    width: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1em;
    flex-wrap: wrap;
    padding-top: 3em;
    z-index: 2;
    }

.EachCard{
    height: 150px;
    width: 300px;
    margin: 0 1em 1em 0.5em;
    border-color: #8080802b;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    z-index: 2;
}
.header{
    background-color: #007bff;
}
img{
    height:7em;
}
.icon{
    float: right;
         }
.heading{
    margin: 0px;
    padding: 8px;
  //  margin: 4.5em 0 0 4.4em;
}
span{
    display:inline-block; 
    margin: 0 2em 0 2em;
}

a{
    color: white;
    text-decoration-line: none;
    margin-left: 2px;
}
a:hover{
    color: white;
    text-decoration-line: none;
}
.btn-link{
    color: black;
    font-size: 19px;
    border: none;
    text-decoration-line: none;
    margin-left: 2px;
}
.btn-link:hover{
    color: black;
    text-decoration-line: none;
}

input[type="text"]
{
    height: 33px;
    font-size: 19px;
    
}
.container-fluid
{
    margin: 0px 0px 0px 2em;
    padding-top: 4em;
}
.customer-pagination{
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
}


